################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/bin/Debug/netcoreapp3.1
/.vs/WorldWideBank
/ConsoleApp/obj
/WorldWideBank/bin/Debug/netcoreapp3.1
/WorldWideBank/obj
/WorldWideBankTests/bin/Debug/netcoreapp3.1
/WorldWideBankTests/obj
